

{% extends "base.html" %}
{% block content %}



    <h1> Meg Ryan </h1>
    <h2> Kontakt ze mną</h2>
    <ul class="a">
        <li><a class="mail" href="mailto:megryan@hotmail.com">megryan@hotmail.com</a></li>
        <li>telefon: 001 223 23 3233</li>
        </ul>
    <p>Wyślij wiadomość</p> 
    <form method="POST" action="podziekowania">
        <input type="text" id="fname" name='imie' placeholder="Imię"><br><br>
        <input type="text" id="lname" name='nazwisko' placeholder="Nazwisko"><br><br>
        <textarea name="message" rows="10" cols="90" placeholder="Napisz wiadomość..."></textarea>
        <br><br>
        <input type="submit">
    </form>

{% endblock %}